@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #1a4568; /*text color*/
  --color-background: #dbecf4;/* background color */
  --color-accent: #245f8e; /*links color*/
  --light-hover-background: #3e6788;
  --div-light-background:#eff6f9;
  --button-bacground: #a9d0ea;
  --dark-background:#1C2833;
  --dark-mode-text-color:#F5F5F5;
  --dark-mode-container-background:#2E4053;
  --dark-mode-hover-background:#3B4C63;
  --border-radius: 0.8rem;
  --softer-border-radius: 0.4rem;

  --font-titles: "Fredoka", serif;
  --font-body:"Nunito", system-ui, sans-serif; /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Layout */
main {
  padding: 2rem;
  display: flex;
}

header {
  padding: 1rem;
}

main,
header,
nav,
div,
footer {
  max-width: 60rem;
  margin: 0 auto;
}


/* Text */
p {
  margin: 1rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/*****************************main page css********************************************************/

.container {
  border-radius: var(--border-radius); 
  padding: 1rem;
  background-color: var(--div-light-background); 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.about-me-container {
  display: flex;
}

.image-container {
  flex: 0 0 auto; 
  margin-left: 1rem;
}

.image-container img {
  width: auto;
  height: 22rem; 
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.6));
 
}

.skills-list {
  display: flex; 
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.skills-list li {
  margin-right: 1rem; 
  display: inline;
}

.projects-container {
  display: flex;
  justify-content: center; 
  padding: 1rem; 
  margin-top: 1rem; 
  background-color: var(--div-light-background); 
  border-radius: var(--border-radius); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.projects-container a {
  color: #333;
  font-size: 1.1rem; 
  font-weight: bold; 
  text-decoration: none; 
  padding: 0.5rem 1rem; 
  border-radius: var(--softer-border-radius); 
  transition: background-color 0.3s ease;
}

.projects-container a:hover {
  background-color:var(--light-hover-background);
}

button {
  background-color: #f1c4b6; 
  border-radius:var(--softer-border-radius);
  color: #333;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  
}

button:hover {
  background-color: var(--light-hover-background); 
}

.dark-mode-container {
  text-align: center; 

}

#dark-mode-icon {
  width: 1.6rem;
  height: 1.6rem;
}

#dark-mode-toggle {
  display: inline-flex;
  align-items: center; /* Vertically center the icon and text */
  gap: 0.4rem;
  background-color: var(--button-bacground);
  color: #333;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#dark-mode-toggle:hover {
  background-color: var(--light-hover-background);
}

footer {
  text-align: center;
  padding: 1.8rem;
  background-color: var(--div-light-background); 
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius); 
}

footer p {
  margin: 0.3rem 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.8rem;
}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.dark-mode {
  background-color: var(--dark-background); 
  color: var(--dark-mode-text-color); 
}

.dark-mode .container, .dark-mode .projects-container, .dark-mode a,.dark-mode footer  {
  background-color: var(--dark-mode-container-background);
  color: var(--dark-mode-text-color); 
}


.dark-mode a:hover {
  background-color: var(--dark-mode-hover-background); 
}

.dark-mode #dark-mode-toggle {
  background-color: var(--dark-mode-hover-background);
  color: var(--dark-mode-text-color); 
}

.dark-mode #dark-mode-toggle:hover {
  background-color: #2c3e50;
}
/*****************************for projects page********************************************************/

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap into new rows */
  gap: 2rem;
  max-width: 120rem;
  align-items: strech; /* Align items to the top */
  justify-content: center; /* Horizontal center */
}

.card {
  background-color: var(--div-light-background);
  border-radius:var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s;
  padding: 1rem;
  flex: 1 1 calc(33.33% - 20px); /* Ensures each card takes up 1/3 of the row with spacing */
  box-sizing: border-box;
  max-width: 20rem; /* Limits the max width for each card */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content in each card */
  justify-content: center; /* Horizontal center */
}

.card img {
  width: auto;
  height: 100%; /* Allow the image to retain its aspect ratio */
  max-height: 12rem;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: translateY(-10px) scale(0.95); 
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.6));

}

.card .description {
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(1rem);
  
}

.card:hover .description {
  opacity: 1;
  transform: translateY(0); 
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
  text-align: center;
}

.card p {
  font-size: 0.9em;
  color: #555;
  text-align: center;
}

.dark-mode .description h3 {
  color: white;
}

.dark-mode .description p {
  color: lightgray;
}

.my-projects-header{
  text-align: center;
}